In [1]:
import pandas as pd

dat = pd.read_csv('heart_labeled.csv',sep=',')

In [2]:
dat['target'] = dat[['label_1','label_2','label_3']].mode(axis=1)

dat.loc[0:4]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label_1,label_2,label_3,target
0,50,1,0,150,243,0,0,128,0,2.6,1,0,3,0,0,1,0
1,55,0,1,135,250,0,0,161,0,1.4,1,0,2,1,1,1,1
2,54,1,0,140,239,0,1,160,0,1.2,2,0,2,1,0,1,1
3,59,1,3,178,270,0,0,145,0,4.2,0,0,3,1,0,1,1
4,70,1,2,160,269,0,1,112,1,2.9,1,1,3,1,0,0,0